@mixin main-title {
    text-transform: uppercase;
    background-color: var(--fg, var(--clr-neutral-900));
    color: var(--accent, var(--clr-accent-400));
    padding: 0.5rem;
    letter-spacing: 1px;
    line-height: 1.7rem;
    text-align: center;
}

@mixin background-img {
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin media-query($size) {
    @media (min-width: $size) {
        @content;
    }
}
