@use "../tools" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul[class],
ol[class] {
    list-style-type: none;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/* ----- GENERAL STYLES ----- */
html {
    scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    font-family: var(--font-fam-primary);
    font-size: var(--font-size-500);
    color: var(--clr-neutral-900);
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: var(--font-weight-700);
}

section {
    padding: 4.125rem 0;

    @include media-query(40em) {
        padding: 8.125rem 0;
    }
}
