/* ----- NAVIGATION ----- */
.nav-list {
    display: flex;
    justify-content: center;
    gap: 2em;

    a:link {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    a:hover,
    a:focus {
        color: var(--clr-accent-400);
    }
}

header {
    padding: var(--spacer) 0;
}

@media (min-width: 40em) {
    header {
        position: sticky;
        z-index: 1000;
        top: 0;
    }
}

/* ----- HERO SECTION ----- */
.hero img {
    transform: translateY(2em);
}

@media (min-width: 50em) {
    .hero {
        padding: 0;
    }
}

/* ----- TESTIMONIAL ----- */
.testimonial {
    padding: 3rem 2rem;

    :first-of-type {
        font-style: italic;
        font-weight: 300;
    }
}

/* ----- CTA ----- */

.cta {
    background-image: var(--img, url(/src/img/cta-bg-1.jpg));
    background-size: cover;
    text-align: center;
}

.cta1 {
    --img: url(/src/img/cta-bg-1.jpg);
    z-index: -4;
}

.cta2 {
    --img: url(/src/img/cta-bg-2.jpg);
}
