/* ----- NAVIGATION ----- */
.nav-list {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.nav-list a:link {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav-list a:hover,
.nav-list a:focus {
    color: var(--clr-accent-400);
}

header {
    padding: var(--spacer) 0;
}

@media (min-width: 40em) {
    header {
        position: sticky;
        z-index: 1000;
        top: 0;
    }
}

.cta {
    background-image: var(--img, url(/src/img/cta-bg-1.jpg));
    background-size: cover;
    text-align: center;
}

.cta1 {
    --img: url(/src/img/cta-bg-1.jpg);
    z-index: -4;
}

.cta2 {
    --img: url(/src/img/cta-bg-2.jpg);
}
