.shadow {
    box-shadow: var(--box-shadow);
}

.flow-content > * + * {
    margin-top: var(--flow-space, var(--spacer));
}

.flow-content--large {
    --flow-space: 3rem;
}

.a-center {
    align-items: center;
}

.txt-center {
    text-align: center;
}

.m-auto {
    margin: auto;
}

.text--accent {
    color: var(--clr-accent-400);
}

[class*="bg-"] {
    color: var(--fg);
    background: var(--bg);
}

.bg--dark {
    --fg: var(--clr-neutral-100);
    --bg: var(--clr-neutral-900);
    --accent: var(--clr-accent-400);
    --btn-border: var(--clr-accent-500);
    --btn-fg: var(--clr-accent-500);
}

.bg--accent {
    --fg: var(--clr-neutral-900);
    --bg: var(--clr-accent-400);
    --accent: var(--clr-neutral-100);
    --btn-border: var(--clr-neutral-100);
    --btn-fg: var(--clr-neutral-100);
}

.bg--light {
    position: relative;
}

/* Mix-blend-mode not working properly nested
    within selector */
.bg--light::after {
    content: "";
    position: absolute;
    --fg: var(--clr-neutral-900);
    --bg: var(--clr-accent-400);
    inset: 0;
    mix-blend-mode: multiply;
    z-index: -1;
}

.section-title {
    display: inline-block;
    text-transform: uppercase;
    background-color: var(--clr-neutral-900);
    padding: 0.5rem;
    font-weight: var(--fw-400);
    letter-spacing: 1px;
    line-height: 1.7rem;
    text-align: center;
    color: var(--title-fg, var(--clr-accent-400));
}

.cta1 h2 {
    --title-fg: var(--clr-neutral-100);
}

.h2 {
    font-size: var(--fs-700);
    line-height: 2.8rem;
}

.border [decoration] {
    position: relative;

    ::before {
        content: "";
        display: block;
        width: 5rem;
        height: 5rem;
        background: var(--clr-accent-400);
        position: absolute;
        z-index: -2;
        top: -0.6rem;
        left: -0.6rem;
    }
}
