@use "../tools" as *;

h1 {
    font-weight: var(--font-weight-400);
}

.section {
    &__title {
        @include main-title;
        display: inline-block;
        font-weight: var(--font-weight-400);
    }

    &__subtitle {
        font-size: var(--font-size-700);
        line-height: 2.8rem;

        b {
            font-weight: var(--font-weight-700);
        }
    }
}
