.button {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 0.75em 1.5em;
    background-color: var(--accent, var(--clr-accent-400));
    color: var(--fg, var(--clr-neutral-900));
    border: 3px solid transparent;
    cursor: pointer;
}

.button:hover,
.button:focus {
    border: 3px solid var(--btn-border, var(--clr-neutral-900));
    color: var(--btn-fg, var(--clr-neutral-900));
    background: transparent;
}

.hero__button {
    place-self: center;
}
