@use "../tools" as *;

.hero {
    margin-top: 3rem;
    --gap: 4.5rem;

    p > a {
        color: var(--clr-accent-500);
    }

    img {
        transform: translateY(2em);
    }

    @include media-query(50em) {
        padding: 0;
    }
}

/* ----- NAVIGATION ----- */
.nav-list {
    display: flex;
    justify-content: center;
    gap: 2em;

    a:link {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    a:hover,
    a:focus {
        color: var(--clr-accent-400);
    }
}

header {
    padding: var(--spacer-100) 0;

    @include media-query(40em) {
        position: sticky;
        z-index: 1000;
        top: 0;
    }
}
