:root {
    --spacer-100: 1rem;

    --clr-neutral-900: #171717;
    --clr-neutral-700: #333;
    --clr-neutral-300: #cfcfcf;
    --clr-neutral-100: #fff;

    --clr-accent-500: #00986a;
    --clr-accent-400: #59e89c;

    --font-fam-primary: "PT Sans", sans-serif;

    --font-styl-700: 2.25rem;
    --font-styl-600: 1.5rem;
    --font-styl-500: 1.25rem;
    --font-styl-400: 1.125rem;
    --font-styl-300: 0.9375rem;

    --font-weight-700: 700;
    --font-weight-400: 400;

    --box-shadow-100: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}
